.blockchainfooter {
    background: black;
    text-align: center;
    color: white;
    padding: 40px 225px;
    overflow: hidden;
}

.blockchainfooter div {
    margin: 30px 0;
}

.blockchainfooter .i1 {
    margin: 60px 0 60px 450px;
    border-radius: 30px 0 0 30px;
    transition: 1s;
    width: 100%;
    height: 500px;

}

.blockchainfooter .i1:hover{
    transform: translateX(-200px);
}

.blockchainfooter .i2 {
    margin: -590px 600px 60px -1000px;
    border-radius: 30px;
    transition: 1s;
    width: 100%;
    height: 500px;
}

.blockchainfooter .i2:hover {
    transform: translateX(420px);
}

@media only screen and (max-width: 1025px) {
    .blockchainfooter {
        padding: 40px 100px;
    }
}

@media only screen and (max-width: 769px) {
    .blockchainfooter {
        padding: 40px 64px;
    }
    .blockchainfooter .i1 {
        margin: 60px 0 60px 400px;
        height: 400px;
    }
    .blockchainfooter .i2 {
        margin: -490px 600px 60px -600px;
        height: 400px;
    }
    .blockchainfooter .i2:hover {
        transform: translateX(220px);
    }
}

@media only screen and (max-width: 426px) {
    .blockchainfooter {
        padding: 40px 32px;
    }
    .blockchainfooter div {
        font-size: 12px;
    }
    .blockchainfooter .i1 {
        margin: 60px 0 60px 300px;
        width: 100%;
        height: 300px;
    }
    .blockchainfooter .i2 {
        display: none;
    }
    .blockchainfooter .i1:hover {
        transform: translateX(-220px);
    }
}
@media only screen and (max-width: 327px){
    .blockchainfooter {
        padding: 40px 16px;
    }
    .blockchainfooter .i1 {
        margin: 60px 0 60px 200px;
        width: 100%;
        height: 300px;
    }
    .blockchainfooter .i1:hover {
        transform: translateX(-120px);
    }
}