#card-group {
    margin: -150px 0 0 0;
    position: relative;
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
}
#card {
    padding: 24px;
    margin: 0 15px 15px 15px;
    border-radius: 20px;
}

:root{
    --cl-color: #665D11;
    --cl-bg-color: #F4EDA8;
    --c2-color: #ffffff;
    --c2-bg-color: #3A3A3A;
    --c3-color: #4F3076;
    --c3-bg-color: #ae6fff;
    --c4-color: #7B2141;
    --c4-bg-color: #ff699f;
}


.c1 {
    color: var(--cl-color) !important;
    background-color: var(--cl-bg-color) !important;
}

.c2 {
    color: var(--c2-color) !important;
    background-color: var(--c2-bg-color) !important
}

.c3 {
    color: var(--c3-color) !important;
    background-color: var(--c3-bg-color) !important
}

.c4 {
    color: var(--c4-color) !important;
    background-color: var(--c4-bg-color) !important
}

.card-body {
    padding: 0 !important;
}

#card-title {
    font-size: 25px;
    transition: 1s;
    transform: translateY(150px);
}

.card-inner {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    opacity: 0;
    transition: 1s;
    transform: translateY(100%);
}

.card-inner #card-button{
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
    transition: 3s linear;
}

.card-inner #card-button:hover {
    animation-name: card-button-hover;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.card-inner p {
    cursor: pointer;
}

#card:hover  .card-inner{
    opacity: 1;
    transition: 1s;
    transform: translateY(0%);
}

#card:hover  .card-title{
    transition: 1s;
    transform: translateY(10px);
}


@keyframes card-button-hover {
    from {
        top: 30px;
    }
    to {
        top: 0px;
        background-color: gray;
        color: white;
    }
}

@media only screen and (max-width: 1024px){
    #card {
        padding: 20px;
        margin: 0 10px 10px;
        border-radius: 20px;
    }
    #card-title {
        transform: translateY(150px);
    }
}

@media only screen and (max-width: 768px){
    #card-group {
        grid-template-columns: repeat(2, 1fr) !important;
        height: fit-content;
    }
}

@media only screen and (max-width: 426px){
    #card {
        padding: 12px;
        height: 200px;
    }
    .MuiSvgIcon-root {
        width: 30px !important;
        height: 30px !important;
    } 
    #card-group {
        margin: -120px 0 0 0;
    }
    #card-title {
        font-size: 20px;
        transform: translateY(120px);
    }
    .card-inner #card-button {
        font-size: 10px;
        padding: 5px;
    }
    .card-inner p {
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 375px){
    #card-title {
        font-size: 16px;
        transform: translateY(110px);
    }
}