.paybody {
    overflow: hidden;
    padding: 100px 0 160px 150px;
    display: flex;
    border-radius: 60px 60px 0 0;
    background: #F4EDA8;
}
.paybody .intro-head {
    display: flex;
    color: white;
}

.paybody .intro-head h2 {
    font-size: 30px;
    padding: 0 0 0 20px;
}

.paybody .intro-body {
    color: white;
}

.paybody .intro-body h1 {
    font-size: 60px;
    padding: 60px 0 0 0;
}

.paybody .intro-body p {
    font-size: 18px;
    padding: 30px 0 0 0;
    width: 600px;
    line-height: 30px;
}

.paybody .image img {
    display: none;
    width: fit-content;
    height: 600px;
    border-radius: 30px 0 0 30px;
    transition: 1s
}

.paybody .image img:hover {
    transform: translateX(-10%);
}

.paybody .intro-button {
    margin: 60px 0 0 0;
    color: black;
    font-size: 16px;
    background-color: white;
    border: 1px solid white;
    padding: 8px 80px;
    border-radius: 30px;
    transition: 0.5s;
}

.paybody .intro-button:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}

@media only screen and (max-width: 1025px){
    .paybody {
        padding: 60px 0 160px 85px;
    }
    .paybody .image img:hover {
        transform: translateX(-20%);
    }
}


@media only screen and (max-width: 769px){
    .paybody {
        padding: 60px 0 100px 64px;
    }
}

@media only screen and (max-width: 426px){
    .paybody {
        padding: 60px 0 160px 35px;
    }
    .paybody .intro-body h1 {
        font-size: 30px;
    }
    .paybody .intro-body p{
        font-size: 12px;
        line-height: 20px;
        width: 400px;
    }
    .paybody .intro-button{
        padding: 8px 40px;
    }
    .paybody .image img {
        display: none;
    }
}

@media only screen and (max-width: 376px){
    .paybody {
        padding: 60px 0 180px 16px;
    }
    .paybody .intro-body{
        width: 80vw;
    }
    .paybody .intro-body h1 {
       display: none;
    }
    .paybody .intro-head h2 {
        font-size: 20px;
    }
    .paybody .intro-body p{
       padding: 40px 60px 0 0;
       width: 370px;
    }
}

@media only screen and (max-width: 320px){
    .paybody .intro-body p{
        width: 320px;
     }
}