.owner {
    overflow: hidden;
    padding: 0 0 160px 0;
    display: flex;
    margin: -30px 0 0 0;
    flex-direction: column;
    background: #ff699f;
    color: rgb(241, 241, 241);
    text-align: center;
}

.owner h1 {
    font-size: 80px;
}

.owner .team{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    place-items: center;
    gap: 5px;
    padding: 20px 200px;
}

.owner .team .person{
    margin: 40px 0 0 0;
    cursor: pointer;
    transition: .5s;
}

.owner .team .person h1 {
    font-size: 30px;
    width: 200px;
    padding: 5px 20px;
    transition: .5s;
}

.owner .team .icon {
    margin: 40px 0 0 0;
}


.owner .team .person:hover {
    color: #1DA1F2;
}

.owner .team .person h1:hover {
    transform: scale(1.3);
}