.topbar {
    display: flex;
    justify-content: space-around;
    padding: 32px 0 ;
    cursor: pointer;
}

.topbar .logo {
    display: flex;
}

.topbar .logo img {
    width: fit-content;
    height: 40px;
    padding: 0 10px 0 0;
}

.topbar .logo h1 {
    font-size: 30px;
}

.topbar .navigation {
    display: flex;
}

.topbar .languagechange{
    display: flex;
    padding: 10px 0 0 0;
}

.topbar .languagechange img {
    width: fit-content;
    height: 20px;
}

.topbar .socials {
    width: 100px;
}

.topbar .hamburgermenu{
    display: none;
}

@media only screen and (max-width: 769px)  {
    .topbar .hamburgermenu {
        display: flex;
    }
    .topbar .languagechange,
    .topbar .navigation,
    .topbar .socials {
        display: none;
    }
    .topbar {
        display: flex;
        justify-content: space-between;
        padding: 32px 64px;
    }
}

@media only screen and (max-width: 643px)  {
    .topbar {
        padding: 32px 48px 0;
    }
}

@media only screen and (max-width: 478px)  {
    .topbar {
        padding: 32px 32px 0;
    }
}

@media only screen and (max-width: 376px)  {
    .topbar {
        padding: 32px 16px 0;
    }
}