.blockchain{
    background-color: #1e1e1e;
    border-radius: 50px 50px 0 0;
    padding: 40px 120px 300px 120px
}

.blockchain h2 {
    margin: 150px 0 0 0;
    font-size: 100px;
    color: white;
}

.blockchain #note {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin: -200px 0 0 0;
}

.blockchain .participant {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blockchain .participant p {
    color: white;
    margin: 350px 0 0 50px;
    line-height: 30px;
}

.blockchain .participant h2 {
    font-size: 120px;
}

@media only screen and (max-width: 1024px){
    .blockchain{
        padding: 40px 64px 300px 64px
    }
}

@media only screen and (max-width: 597px){
    .blockchain{
        padding: 40px 48px 300px 48px
    }
}

@media only screen and (max-width: 426px){
    .blockchain{
        padding: 40px 32px 300px 32px
    }
}

@media only screen and (max-width: 376px){
    .blockchain{
        padding: 40px 16px 300px 16px
    }
}