.footer {
    display: flex;
    margin: 30px 150px 0 150px;
    justify-content: space-between;
}

.footer .right h3 {
    font-size: 16px;
    font-weight: 500;
}

.footer .left {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 769px) {
    .footer {
        margin: 30px 32px 0 32px;
    }
}
@media only screen and (max-width: 426px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 30px 8px 0 8px;
    }
    .footer .right h3 {
        font-size: 14px;
        font-weight: 300;
    }
    .footer .left p {
        font-size: 14px;
    }
    .footer .left{
        justify-content: space-around;
    }
}

@media only screen and (max-width: 351px) {
    .footer .left p {
        font-size: 10px;
    }
    .footer .left{
        flex-direction: column-reverse;
        gap: 2px;
    }
}