.partners {
    margin: 20px 16px;
}

.partners h1 {
    font-size: 70px;
}

.partners .partners-list  {
    width: 97vw;
    overflow-x: scroll;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.partners .partners-list::-webkit-scrollbar{
    display: none
}

.partners .partners-list  img {
    cursor: pointer;
    max-width: 500px;
    width: 100%;
    max-height: 200px;
    border: 1px solid white;
    border-radius: 100%;
    object-fit: contain;
}

.partners .partners-list   h4{
    font-size: 20px;
}

.partners .li {
    width: 100%;
    height: 1px;
    background-color: rgb(58, 58, 58);
    color: rgb(58, 58, 58);
    margin: 20px;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .partners h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 681px) {
    .partners h1 {
        font-size: 50px;
    }
    .partners .partners-list  {
        gap: 10px;
    }
    .partners .partners-list  img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 531px) {
    .partners h1 {
        font-size: 40px;
    }
    .partners .partners-list  img {
        width: 100px;
        height: 100px;
    }
}


@media only screen and (max-width: 376px) {
    .partners {
        margin: 10px 8px;
    }
}